* {
    list-style: none;
    list-style-type: none;

}


body {
    color: white;
    background: #000000;    
}


#clock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: #ffee00;
    margin: 60px auto;
}

#date {
    font-size: 30px;
}


h1 {
    color: white;
    margin: 10px;

}


#chrono {
    display: flex inline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 90px auto;

    
}

#chrono h2 {
    font-size: 40px;
}

#chrono-startstop,#chrono-tour,#chrono-reset {
    margin: 10px auto;
    width: 10%;
    border-radius: 5px ;
}

#chrono-startstop,#chrono-tour,#chrono-reset:focus {
    outline: none;
}

#chrono-startstop {
    background-color: rgb(69, 218, 69);
    border: 5px solid rgb(81, 250, 81);

    color: white;
    transition: 0.3s;
}

#chrono-tour {
    border: 5px solid rgb(255, 85, 85);
    color: white;
    background-color: rgb(243, 50, 50);
}

#chrono-reset {
    color: white;
    border: 5px solid rgb(168, 128, 128);
    background-color: rgb(146, 103, 103);
}


#alarm {
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}


 #h2-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#alarm label {
    margin: 5px;
}


#alarm input[type=text]{
    padding: 5px 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#alarm input[type=number]{
    align-items: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

