* {
    list-style: none;
    list-style-type: none;

}


body {
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 1;
    animation: flash 15s ease-in-out 1;
  }
  
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  #horloge {
    color: #ffffff;
    transition: 0.3s ;
}

#horloge:hover {
    cursor: pointer;
    animation: colorchange 10s infinite;
}

@keyframes colorchange {
    0%   { color: #fb0094; }
    10%  { color: #00f; }
    20%  { color: #0f0; }
    30%  { color: #ff0; }
    40%  { color: #f00; }
    50%  { color: #fb0094; }
    60%  { color: #00f; }
    70%  { color: #0f0; }
    80%  { color: #ff0; }
    90%  { color: #f00; }
    100% { color: #fb0094; }
}

  



#clock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: white;
    margin: 60px auto;
}

#date {
    font-size: 30px;
}


h1 {
    color: white;
    margin: 10px;

}


#chrono {
    display: flex inline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 90px auto;

    
}

#chrono h2 {
    font-size: 40px;
}

#chrono-startstop,#chrono-tour,#chrono-reset {
    margin: 10px auto;
    width: 10%;
    border-radius: 5px ;
}

#chrono-startstop,#chrono-tour,#chrono-reset:focus {
    outline: none;
}

#chrono-startstop {
    color: white;
    background-color: rgb(69, 218, 69);
    border: 5px solid rgb(81, 250, 81);
}

#chrono-tour {
    color: white;
    border: 5px solid rgb(168, 128, 128);
    background-color: rgb(146, 103, 103);
}

#chrono-reset {
    color: white;
    border: 5px solid rgb(255, 85, 85);
    background-color: rgb(243, 50, 50);
}




#alarm {
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}


 #h2-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#alarm label {
    margin: 5px;
}


#alarm input[type=text]{
    color: white;
    display: inline-block;
    padding: 10px 12px;
    box-sizing: border-box;
    caret-color: white;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#alarm input[type=text]:focus{
    outline: none;
}


#alarm input[type=number]{
    align-items: center;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#h3-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}


#alarm button {
 margin: 10px;

}


#set-alarm{
    position: relative;
    width: 160px;
    height: 50px;
    line-height: 48px;
    background: #000;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    -webkit-box-reflect: below 1px -webkit-linear-gradient(transparent, #0004);
}

#set-alarm::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
}
#set-alarm::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
}

#set-alarm:hover::before,
#set-alarm:hover::after{
    opacity: 1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

#set-alarm span{
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    z-index: 1;
}

#set-alarm:hover span{
    color: rgba(255, 255, 255, 1);
}

#set-alarm span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}


/* clear button */

#clear-alarm{
    position: relative;
    width: 160px;
    height: 50px;
    line-height: 48px;
    background: #000;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    -webkit-box-reflect: below 1px -webkit-linear-gradient(transparent, #0004);
}

#clear-alarm::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
}
#clear-alarm::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
}

#clear-alarm:hover::before,
#clear-alarm:hover::after{
    opacity: 1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

#clear-alarm span{
    position: absolute;
    display: block;
    
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    z-index: 1;
}

#clear-alarm:hover span{
    color: rgba(255, 255, 255, 1);
}

#clear-alarm span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}


/*timer */

#h2-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#timer input[type=number] {
    margin: 5px;
    width: 50px;
    border: 5px;
    border-radius: 5px;
    text-align: center;
}

#timer input[type=number]:focus {

    outline: none;
}

#timer button {
    margin: 5px;
    border-radius: 5px;
}

#start-timer {
    background-color: rgb(69, 218, 69);
    border: 5px solid rgb(81, 250, 81);
    color: white;
}

#stop-timer {
    color: white;
    border: 5px solid rgb(255, 85, 85);
    background-color: rgb(243, 50, 50);
}